.title{
    margin-bottom: 20px;
    padding-left: 44px;
    font-size: 28px;
    color:#666;
    background: url("./images/house.png") no-repeat left center;
    background-size: 44px 44px;
}
.details{
    padding-left: 44px;
    font-size:24px;
    color:#999;
    line-height: 40px;
}