.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.top-area{
    width:690px;
    background: #fff;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    color:#5a595e;
}
.tips{
    margin-top: 24px;
    font-size: 24px;
    color:#666;
}
.icon{
    width: 150px;
    height: 150px;
}
.divider{
    height:0;
    border-top:1px dotted #ddd;
}
.operator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.counter{
    line-height: 64px;
    border:1px solid #ddd;
    border-radius: 10px;
    background: #f8f8f8;
    color:#999;
    font-size: 32px;
    text-align: center;
}
.minus{
    display: inline-block;
    width:60px;
}
.plus{
    display: inline-block;
    width:60px;
}
.count{
    display: inline-block;
    width:80px;
    height: 100%;
    color:#555;
    font-size: 28px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    vertical-align: top;
}
.btn{
    width:340px;
    line-height: 64px;
    border-radius: 10px;
    font-size: 30px;
    color:#fff;
    text-align: center;
    background: #486dec;
}
.bottom-area{
    width:650px;
    margin-top: 10px;
    padding: 40px 20px;
    border-radius: 10px;
    background: #fff;
}