.root{
    background: #fff;
    min-height: 100%;
}
.sub-title{
    height:45px;
    padding: 0 30px;
    color:#999;
    font-size:26px;
    vertical-align: top;
}
.lists{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}
.sub-title-recommend{
    margin-top: 20px;
    padding: 27px 32px;
    font-size:26px;
    font-weight: bold;
    color:#333;
    border-bottom: 1px solid #eee;
}
.goods-list{
    display: flex;
    width:100%;
    overflow-x: auto;
}
.goods-item{
    flex-shrink: 0;
    width:194px;
    height: 360px;
    padding: 10px;
}