.root{
    position: relative;
    height:324px;
}
.black{
    height: 134px;
    background: #f2f2f2;
}
.white{
    height:190px;
    background: #fff;
}
.info{
    position: absolute;
    top:26px;
    left: 32px;
    width:626px;
    height: 212px;
    padding: 30px;
    background: url("../images/ordinary-card.png") no-repeat center;
    background-size: 100% 100%;
}
.user-info{
    display: inline-block;
    vertical-align: middle;
}
.avator{
    width:96px;
    height:96px;
    margin-right: 10px;
    vertical-align: middle;
}
.name{
    display: inline-block;
    width:212px;
    font-size:30px;
    color:#333;
    font-weight: bold;
    vertical-align: top;
}
.score{
    font-size:44px;
    color:#333;
    font-weight: bold;
    vertical-align: top;
}
.level{
    display: inline-block;
    width:212px;
    height:36px;
    background: url("../images/level-ordinary.png") no-repeat left center;
    background-size: 128px 36px;
    vertical-align: middle;
}
.tips{
    font-size:22px;
    color:#8f6c1e;
    vertical-align: middle;
}
.card-issuer{
    margin-top: 30px;
    font-size:24px;
    color:#8f6c1e;
}
.cardno{
    margin-top: 16px;
    font-size:30px;
    color:#493d22;
}